<?xml version='1.0'?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

    <xacro:include filename="$(find lidar_slam_ros)/urdf/materials.xacro" />
    <xacro:include filename="$(find lidar_slam_ros)/urdf/robot_model.gazebo" />
    <xacro:include filename="$(find lidar_slam_ros)/urdf/wheel.xacro" />
    <xacro:include filename="$(find lidar_slam_ros)/urdf/inertial.xacro" />
    
    <link name='base_link'>
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0 0.0"/>
        <visual name='base_visual'>
            <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.6 0.6 0.2"/>
            </geometry>
            <material name="white"/>
        </visual>
        <xacro:inertial_box mass="1" x="0.2" y="0.6" z="0.6">
            <origin xyz="0 0 0.2" rpy="0 ${pi/2} 0"/>
        </xacro:inertial_box>
        <collision>
            <origin xyz="0 0 0.2" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <box size="0.2 0.6 0.6"/>
                </geometry>
        </collision>
        <collision name='caster_collision'>
            <origin xyz="-0.25 0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.1" />
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>0</mu>
                        <mu2>0</mu2>
                        <slip1>1.0</slip1>
                        <slip2>1.0</slip2>
                    </ode>
                </friction>
            </surface>
        </collision>
        <visual name='caster_visual'>
            <origin xyz="-0.25 0.0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.1" />
            </geometry>
            <material name="white"/>
        </visual>
    </link>
    <link name="lidar_link">
            <visual name='lidar_visual'>
                <origin xyz="0 0 0" rpy=" 0 0 0"/>
                <geometry>
                    <box size=".05 .05 .05"/>
                </geometry>
                <material name="red"/>
            </visual>
        </link>
        <joint name="lidar_joint" type="fixed">
            <origin xyz="0.275 0 0.325" rpy="0 0 0"/>
            <child link="lidar_link"/>
            <parent link="base_link"/>
        </joint>

    <xacro:wheel side="left" x="0.15" y="0.325" z="0.1"/>
    <xacro:wheel side="right" x="0.15" y="-0.325" z="0.1"/>

</robot>